*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


#grupoForm{
    width: 80%;
    padding: 30px;
    background: #24303c;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family:'Times New Roman', Times, serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

#grupoForm h2{
    font-size: 22px;
    margin: auto;
    padding-bottom: 30px;
}

#grupoForm p{
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}

#grupoForm a{
    color: white;
    text-decoration: underline;
}

#grupoForm a:hover{
    color: white;
    text-decoration: underline;
}

#bagregar, #crearGrupo, #btEnviar{
    width: 100%;
    padding: 12px;
    background: #1f53c5;
    border: none;
    margin: 16px;
    border-radius: 4px;
    color: #bbbbbb;;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease;
}

#bagregar:hover{
    color: white;
}

#crearGrupo:hover{
    color: white;
}

#btEnviar:hover{
    color: white;
}

#nombre, #apellido, #email, #consulta{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #1f53c5;
    font-family:'Times New Roman', Times, serif ;
    font-size: 18px;
}

#container{
    display: flex;
    flex-flow: column;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 10%;
}

.logo{
    width: 10%;
    height: 10%;
    cursor: pointer;
}

.logo img{
    width: 100%;
    height: 100px;
    margin: 100px;
}

#nav{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

#nav ul{
    list-style: none;
}

#nav ul li{
    display: inline-block;
    padding: 40px;
    margin: 10px;
    transition: all .2s ease;
    border-radius: 10px;
}


#nav ul li a{
    float: left;
    font-size: 30px;
    margin: 20px;
    text-decoration: none;
    color: gray;
    transition: all .1s ease;
}

#nav ul li a:hover{
    color: #000;
    text-decoration: none;
}

.group {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

#principal{
    padding: 20px;
    margin: 2px;
    border: 2px solid black;
    width: auto;
}



#footer{
    background: #000;
    margin-top: 100px;
    text-decoration: none;
}

#containerfoot{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    flex-flow: wrap;
    margin: 50px;
}


#footer-links ul{
    list-style: none;
    overflow: hidden;
}

#footer-links ul li {
    font-family: Arial, Helvetica, sans-serif;;
    font-size: 20px;
    padding: 5px;
    margin: 10px;
}

#footer-links h4{
    font-size: 20px;
    color: #fff;
    margin-bottom: 25px;
    font-weight: 500;
    padding-bottom: 10px;
    display: inline-block;
}

#footer-links ul li a{
    font-size: 16px;
    color: #bbbbbb ;
    text-decoration: none;

    margin-bottom: 5px;
    transition: all .50s ease;
}

#footer-links ul li a:hover {
    background: #1f53c5;
    padding-left: 6px;
    color: #fff;
    text-decoration: none;
}

#grupoForm{
    width: 25%;
    padding: 30px 15px;
    display: flex;
    flex-wrap: wrap;
}

#main{
    display: flex;
}

#aside{
    width: auto;
    margin-left: 150px;
}

#aside ul{
    list-style: none;
}

#aside ul li {
    display: block;
    transition: all .2s ease;
}


#aside ul li a{
    padding: 30px;
    margin: 30px;
    display: block;
    text-decoration: none;
    color: #ccc;
    background: #1f53c5;
    transition: all .1s ease;
    border-radius: 20px;
}

#aside ul li a:hover{
    color: #fff;
}

.sub1{
    display: none;
}