@media (max-width: 480px){
    
*{
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


#grupoForm{
    width: 80%;
    padding: 30px;
    background: #24303c;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

#grupoForm h2{
    font-size: 22px;
    margin: auto;
    padding-bottom: 30px;
}

#grupoForm p{
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}

#grupoForm a{
    color: white;
    text-decoration: underline;
}

#grupoForm a:hover{
    color: white;
    text-decoration: underline;
}

#bagregar, #crearGrupo, #btEnviar{
    width: 100%;
    padding: 12px;
    background: #1f53c5;
    border: none;
    margin: 16px;
    border-radius: 4px;
    color: #bbbbbb;;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease;
}

#bagregar:hover{
    color: white;
    padding: 14px;
}


#crearGrupo:hover{
    color: white;
    padding: 14px;
}

#btEnviar:hover{
    color: white;
    padding: 14px;
}

#nombre, #apellido, #email, #consulta, #dni{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #1f53c5;
    font-size: 18px;
}

#container{
    display: flex;
    flex-flow: column;
    width: 100%;
}

#header {
    padding: 30px 10%;
}

.logo{
    width: 10%;
    height: 10%;
}

.logo img{
    width: 10%;
}

#nav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

#nav ul{
    list-style: none;
}

#nav ul li{
    display: inline;
    padding: 5px;
    margin: 5px;
}

#nav ul li a{

    text-align: justify;
    font-size: 10px;
    margin: 10px;
    text-decoration: none;
    color: gray;
    transition: all .1s ease;
}

#nav ul li a:hover{
    color: #000;
    font-size: 12px;
}

#footer{
    width: 100%;
    background: #000;
    margin: auto;
    text-decoration: none;
}

#containerfoot{
    text-align: center;
    padding: 20px;
    margin: auto;
}


#footer-links ul{
    margin: auto;
    list-style: none;
}

#footer-links ul li {
    font-size: 20px;
    padding: 5px;
    margin: auto;
}

#footer-links h4{
    padding: 10px;
    margin: auto;
    font-size: 20px;
    color: #fff;
    display: block;
}

#footer-links ul li a{
    margin: auto;
    padding: 30px;
    font-size: 16px;
    color: #bbbbbb ;
    text-decoration: none;
    transition: all .50s ease;
}

#footer-links ul li a:hover {
    padding-left: 6px;
    color: #fff;
}

.marca{
    padding: 10px;
    margin: 10px;
    color: #fff;
}

.marca a{
    color: #fff;
    text-decoration: none;
}

#grupoForm{
    width: 60%;
    padding: 30px 15px;
    display: flex;
    flex-wrap: wrap;
}

#main{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 30px;
}

#aside{
    width: 100%;
    padding: 30px;
    margin: 30px;
}

#aside ul{
    list-style: none;
}

#seccion{
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

article{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 20px;
}

#seccion article p{
    text-justify: inter-word;
}


#nav ul ul{
    display: none;
}

.politicas{
    text-align: justify;
    width: 100%;
    padding: 50px;
    margin: 10px auto;
}

}

/*Medida tablets*/
@media (min-width: 481px) and (max-width: 768px){
        
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Times New Roman', Times, serif;
}


#grupoForm{
    width: 80%;
    padding: 30px;
    background: #24303c;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    color: white;
    box-shadow: 7px 13px 37px #000;
}

#grupoForm h2{
    font-size: 22px;
    margin: auto;
    padding-bottom: 30px;
}

#grupoForm p{
    height: 50px;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 40px;
}

#grupoForm a{
    color: white;
    text-decoration: underline;
}

#grupoForm a:hover{
    color: white;
    text-decoration: underline;
}

#bagregar, #crearGrupo, #btEnviar{
    width: 100%;
    padding: 12px;
    background: #1f53c5;
    border: none;
    margin: 16px;
    border-radius: 4px;
    color: #bbbbbb;;
    font-size: 16px;
    cursor: pointer;
    transition: all .2s ease;
}

#bagregar:hover{
    color: white;
    padding: 14px;
}

#crearGrupo:hover{
    color: white;
    padding: 14px;
}

#btEnviar:hover{
    color: white;
    padding: 14px;
}

#nombre, #apellido, #email, #consulta, #dni{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 20px;
    border: 1px solid #1f53c5;
    font-family:'Times New Roman', Times, serif ;
    font-size: 18px;
}

#container{
    display: flex;
    flex-flow: column;
    width: 100%;
}

#header {
    padding: 30px 10%;
}

.logo{
    width: 10%;
    height: 10%;
}

.logo img{
    width: 10%;
}

#nav{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    width: 100%;
}

#nav ul{
    list-style: none;
}

#nav ul li{
    display: inline;
    padding: 5px;
    margin: 5px;
}


#nav ul li a{

    text-align: justify;
    font-size: 10px;
    margin: 10px;
    text-decoration: none;
    color: gray;
    transition: all .1s ease;
}

#nav ul li a:hover{
    color: #000;
    font-size: 12px;
}

#footer{
    width: 100%;
    background: #000;
    margin: auto;
    text-decoration: none;
}

#containerfoot{
    text-align: center;
    padding: 20px;
    margin: auto;
}


#footer-links ul{
    margin: auto;
    list-style: none;
}

#footer-links ul li {
    font-size: 20px;
    padding: 5px;
    margin: auto;
}

#footer-links h4{
    padding: 10px;
    margin: auto;
    font-size: 20px;
    color: #fff;
    display: block;
}

#footer-links ul li a{
    margin: auto;
    padding: 30px;
    font-size: 16px;
    color: #bbbbbb ;
    text-decoration: none;
    transition: all .50s ease;
}

#footer-links ul li a:hover {
    padding-left: 6px;
    color: #fff;
}

.marca{
    padding: 10px;
    margin: 10px;
    color: #fff;
}

.marca a{
    text-decoration: none;
    color: #fff;
}

#grupoForm{
    width: 60%;
    padding: 30px 15px;
    display: flex;
    flex-wrap: wrap;
}

#main{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    padding-bottom: 30px;
}

#aside{
    width: 100%;
    padding: 30px;
    margin: 30px;
}

#aside ul{
    list-style: none;
}

#seccion{
    text-align: justify;
    width: 80%;
    margin: 0 auto;
}

article{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    font-size: 20px;
}

#seccion article p{
    text-justify: inter-word;
}


#nav ul ul{
    display: none;
}


.politicas{
    text-align: justify;
    width: 100%;
    padding: 50px;
    margin: 10px auto;
}


}

/*Medida laptop*/
@media (min-width: 769px) and (max-width: 1200px){
    
    *{
        margin: 0;
        padding: 0;
        box-sizing:border-box;
        font-family: 'Times New Roman', Times, serif;
    }
    
    
    #grupoForm{
        width: 80%;
        padding: 30px;
        background: #24303c;
        margin: auto;
        margin-top: 50px;
        border-radius: 4px;
        color: white;
        box-shadow: 7px 13px 37px #000;
    }
    
    #grupoForm h2{
        font-size: 22px;
        margin: auto;
        padding-bottom: 30px;
    }
    
    #grupoForm p{
        height: 50px;
        margin: auto;
        text-align: center;
        font-size: 15px;
        line-height: 40px;
    }
    
    #grupoForm a{
        color: white;
        text-decoration: underline;
    }
    
    #grupoForm a:hover{
        color: white;
        text-decoration: underline;
    }
    
    #bagregar, #crearGrupo, #btEnviar{
        width: 100%;
        padding: 12px;
        background: #1f53c5;
        border: none;
        margin: 16px;
        border-radius: 4px;
        color: #bbbbbb;;
        font-size: 16px;
        cursor: pointer;
        transition: all .2s ease;
    }
    
    #bagregar:hover{
        color: white;
        padding: 14px;
    }
    
    #crearGrupo:hover{
        color: white;
        padding: 14px;
    }
    
    #btEnviar:hover{
        color: white;
        padding: 14px;
    }
    
    #nombre, #apellido, #email, #consulta, #dni{
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
        border: 1px solid #1f53c5;
        font-size: 20px;
    }
    
    #container{
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    
    #header {
        padding: 30px 10%;
    }
    
    .logo{
        width: 10%;
        height: 10%;
    }
    
    .logo img{
        width: 10%;
    }
    
    #nav{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
    }
    
    #nav ul{
        list-style: none;
    }
    
    #nav ul li{
        display: inline;
        padding: 5px;
        margin: 5px;
    }
    
    
    #nav ul li a{
    
        text-align: justify;
        font-size: 22px;
        margin: auto;
        text-decoration: none;
        color: gray;
        transition: all .1s ease;
    }
    
    #nav ul li a:hover{
        color: #000;
        font-size: 24px;
    }
    
    #footer{
        width: 100%;
        background: #000;
        margin: auto;
        text-decoration: none;
    }
    
    #containerfoot{
        text-align: center;
        padding: 20px;
        margin: auto;
    }
    
    
    #footer-links ul{
        margin: auto;
        list-style: none;
    }
    
    #footer-links ul li {
        font-size: 24px;
        padding: 5px;
        margin: auto;
    }
    
    #footer-links h4{
        padding: 10px;
        margin: auto;
        font-size: 24px;
        color: #fff;
        display: block;
    }
    
    #footer-links ul li a{
        margin: auto;
        padding: 30px;
        font-size: 20px;
        color: #bbbbbb ;
        text-decoration: none;
        transition: all .50s ease;
    }
    
    #footer-links ul li a:hover {
        padding-left: 6px;
        color: #fff;
    }


    .marca{
        padding: 10px;
        margin: 10px;
        color: #fff;
    }

    .marca a{
        text-decoration: none;
        color: #fff;
    }
    
    #grupoForm{
        width: 60%;
        padding: 30px 15px;
        display: flex;
        flex-wrap: wrap;
    }
    
    #main{
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: center;
        padding-bottom: 30px;
    }
    
    #aside{
        width: 100%;
        padding: 30px;
        margin: 30px;
    }
    
    #aside ul{
        list-style: none;
    }
    
    #seccion{
        text-align: justify;
        width: 80%;
        margin: 0 auto;
    }
    
    article{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
        font-size: 24px;
    }
    
    #seccion p{
        font-size: 24px;
        text-align: justify;
        text-justify: inter-word;
    }
    
    
    #nav ul ul{
        display: none;
    }

    
    .politicas{
        text-align: justify;
        width: 100%;
        padding: 50px;
        margin: 10px auto;
    }

}

/*PC + TV*/
@media (min-width: 1200px){
    *{
        
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
        box-sizing:border-box;
    }
    
    
    #grupoForm{
        width: 80%;
        padding: 30px;
        background: #24303c;
        margin: auto;
        margin-top: 50px;
        border-radius: 4px;
        color: white;
        box-shadow: 7px 13px 37px #000;
    }
    
    #grupoForm h2{
        font-size: 25px;
        margin: auto;
        padding-bottom: 30px;
    }
    
    #grupoForm p{
        height: 50px;
        margin: auto;
        text-align: center;
        font-size: 20px;
        line-height: 40px;
    }
    
    #grupoForm a{
        color: white;
        text-decoration: underline;
    }
    
    #grupoForm a:hover{
        color: white;
        text-decoration: underline;
    }
    
    
    #bagregar, #crearGrupo, #btEnviar{
        width: 90%;
        align-content: center;
        padding: 12px;
        background: #1f53c5;
        border: none;
        margin: 10px auto;
        border-radius: 4px;
        color: #bbbbbb;;
        font-size: 16px;
        cursor: pointer;
        transition: all .2s ease;
    }
    
    #bagregar:hover{
        color: white;
        padding: 14px;
    }
    
    
    #crearGrupo:hover{
        color: white;
        padding: 14px;
    }
    
    #btEnviar:hover{
        color: white;
        padding: 14px;
    }
    
    #nombre, #apellido, #email, #consulta, #dni{
        width: 100%;
        background: #24303c;
        padding: 10px;
        border-radius: 4px;
        margin-bottom: 20px;
        border: 1px solid #1f53c5;
        font-size: 20px;
    }
    
    #container{
        display: flex;
        flex-flow: column;
        width: 100%;
    }
    
    #header {
        padding: 30px 10%;
    }
    
    .logo{
        width: 10%;
        height: 10%;
    }
    
    .logo img{
        width: 10%;
    }
    
    #nav{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        width: 100%;
    }
    
    #nav ul{
        list-style: none;
    }
    
    #nav ul li{
        display: inline;
        padding: 5px;
        margin: 5px;
    }
    
    
    #nav ul li a{
    
        text-align: justify;
        font-size: 30px;
        margin: auto;
        text-decoration: none;
        color: gray;
        transition: all .3s ease;
    }
    
    #nav ul li a:hover{
        color: #000;
        font-size: 35px;
    }
    
    .group {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 10px;
    }
    
    
    #footer{
        width: 100%;
        background: #000;
        margin: auto;
        text-decoration: none;
    }
    
    #containerfoot{
        text-align: center;
        padding: 20px;
        margin: auto;
    }
    
    
    #footer-links ul{
        margin: auto;
        list-style: none;
    }
    
    #footer-links ul li {
        font-size: 30px;
        padding: 10px;
        margin: auto;
    }
    
    #footer-links h4{
        padding: 10px;
        margin: auto;
        font-size: 24px;
        color: #fff;
        display: block;
    }
    
    #footer-links ul li a{
        margin: auto;
        padding: 30px;
        font-size: 20px;
        color: #bbbbbb ;
        text-decoration: none;
        transition: all .50s ease;
    }
    
    #footer-links ul li a:hover {
        padding-left: 20px;
        color: #fff;
    }
    .marca{
        padding: 10px;
        margin: 10px;
        color: #fff;
    }
    
    .marca a{
        color: #fff;
    }

    #grupoForm{
        width: 60%;
        padding: 30px 15px;
        display: flex;
        flex-wrap: wrap;
    }
    
    #main{
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: center;
        padding-bottom: 30px;
    }
    
    #aside{
        width: 100%;
        padding: 30px;
        margin: 30px;
    }
    
    #aside ul{
        list-style: none;
    }

    
    #seccion{
        text-align: justify;
        width: 80%;
        margin: 20px auto;
    }
    
    article{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    
    #seccion p{
        text-align: justify;
        font-size: 30px;
        text-justify: inter-word;
    }
    
    
    #nav ul ul{
        display: none;
    }
    
    
    .politicas{
        text-align: justify;
        width: 100%;
        padding: 50px;
        margin: 10px auto;
    }

}